---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:source-index-verification
subject: cap:source-index#verification
inputs:
  - kind: section
    name: cap:source-index#verification
    digest: 6fa87b471763222924db4537219e31c4d9b8aa97c07c2763307730ee372ab491
  - kind: symbol
    name: raf_source::Budget
    digest: 3cf362824efa4d1527f9078d74b44e7929f8c1a3c8acd81f170265bb07402247
  - kind: symbol
    name: raf_source::DiskTree
    digest: 8de0bd6cf52eb2437cddff8545a4af80ca0f68b9da0a70b705a32f026eeaef63
  - kind: symbol
    name: raf_source::MemoryTree
    digest: f4dcd98dc81a25c56fe58967638c60ad348a69335229bd8fe860a7d3788080c7
  - kind: symbol
    name: raf_source::Reexport
    digest: eefa4b17f47deca46fecdbdaaf325fc81471407cf37f64143beb42ad594b37e2
  - kind: symbol
    name: raf_source::ResolveError
    digest: 97e82f5945a3f75d63b81a8fad164b38427445939061027fb757655508175c22
  - kind: symbol
    name: raf_source::Target
    digest: e9ce9b0c72d512e774654a3c3bff6ecca9d9d1b00cd169472582e58693772a6a
  - kind: symbol
    name: raf_source::Workspace
    digest: b169abcad77b6e1bb0b9a2caa259ffaa530c371fdeb50cecf2c5a019466b42b4
  - kind: symbol
    name: raf_source::Workspace::exported_items
    digest: 6d6c67ccd4ffe690cbccae92d1c8bcc8883b0d973853327c06917a60b6851de9
  - kind: symbol
    name: raf_source::Workspace::impls
    digest: faf8d5bb70bfd1759b468bebb59548a09844ff489085c71b07831c961f99b4f9
  - kind: symbol
    name: raf_source::Workspace::reachable
    digest: 9d1eb5daa8b5fdf5a3ce64bcb1da5a16fa41f124f2111556617329c1a954a61c
  - kind: symbol
    name: raf_source::Workspace::resolve_from
    digest: 1427a53a5a97e7d7aabf2d6d81e6150125eecbec936d62aa24f9a22f4993ab94
  - kind: symbol
    name: raf_source::Workspace::resolve_from_in
    digest: 43567aac51c99a30ce8e50e10eba1f27b9b24353a5f1322f7816b0c88e4015d8
  - kind: symbol
    name: raf_source::Workspace::resolve_in_package
    digest: 55aef4b2934d9e615a22f5c3f08ac679a9ea8d94b79d1e0844d64381a8ad1044
  - kind: symbol
    name: raf_source::Workspace::unresolved_impls
    digest: b935908e0bf18a62f32f8ce6447950753e6452a8c1fd0aeb0cd92ea522b0f7ea
  - kind: symbol
    name: raf_source::parse_source
    digest: 22fd1ef409b6564464dde2df3d2a959170399df0f0f6080e98baad370052438a
verdict: accepted
by: agent
---
