---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:rdf-report-profile-verification
subject: cap:rdf-report-profile#verification
inputs:
  - kind: section
    name: cap:rdf-report-profile#verification
    digest: e6b4cb8f1425a8aad42454b9165a4f40028df89d91dbb988bc74c23da523a7d4
  - kind: symbol
    name: cargo_workplan::bin_crate::cargo_workplan::result
    digest: 7a9ab64b44b90f989611100a40a1234545b3a8cf0028ea126bf775cee3068c44
  - kind: symbol
    name: cargo_workplan::bin_crate::cargo_workplan::result_graph
    digest: eb11c1edb3de2aced8f3ffd09c4b4514dc0ca5c4c14d46ac5755046bcb12d768
  - kind: symbol
    name: raf_census::Baseline::to_ntriples
    digest: 1920b9c5ca3c3355766a338a27dce1589427cbe5da7d42b9c288327b75b77544
  - kind: symbol
    name: raf_census::DebtRecord::to_ntriples
    digest: 5a6610212c5db286a5f4b761c9aaf429f99894945fdee50e534161a608f04b44
  - kind: symbol
    name: raf_census::Index::to_ntriples
    digest: 125bb5af1f05b3a5e79788d13c636f9420d03a7dc1dd31f6676704b6da5bbd4e
  - kind: symbol
    name: raf_census::Ledger::graph
    digest: 4a7292d6ff6e55eab57b060b145c29a95b64f084d955bd9fb918d4c2c8dc5c58
  - kind: symbol
    name: raf_census::RegisteredCheck::to_ntriples
    digest: 37d277ed92837e1feb152f4518f66cc30aba2e975a29856e155e092d9fd188c7
  - kind: symbol
    name: raf_census::RegisteredDebtWrite::to_ntriples
    digest: 23d7db79d4c61927c044dfd5969a347ace2d38a390ce2ab14738b599c89aa592
  - kind: symbol
    name: raf_rdf::Builder
    digest: c40e01dbc48f103c03ffae3dd956b102d2bf164b4b639eb6878d90856aead765
  - kind: symbol
    name: raf_rdf::Error
    digest: 3f8e0109ca20c794c58882f6a5263de7f81ee4015f17eb51dcd87d8d3498a6e1
  - kind: symbol
    name: raf_rdf::Format
    digest: f4ca082f4915706ebfbce27f90041b4f67ee70385565087ab7d611843192b455
  - kind: symbol
    name: raf_rdf::Graph
    digest: a5e40c5962425730cc176f11958de153c97e544c7c38b1ab4565e99fde7febf7
  - kind: symbol
    name: raf_rdf::Node
    digest: a8c0fa29b45d9b75956a24534e65260c6ad8914ad9f2e18531446ada5cf65b76
  - kind: symbol
    name: raf_rdf::Triple
    digest: 4a33a6a5c975e5edc368f1ec4382d705fdde086b303d3017c52568b971775cb7
  - kind: symbol
    name: raf_rdf::Value
    digest: 8a1c21bf5d2b16ed72893ae09283a01ddb0af1e798bb379084b5736d49e0b9ae
  - kind: symbol
    name: raf_rdf::graph
    digest: 585e4faaf35a86f90983cc10be3334fc5f623a190bb1332e06b36d3e01ed759b
  - kind: symbol
    name: raf_rdf::read
    digest: a01d8ece0f7c0107063e704249b4ebd4fa41c5b3b4c0f4535b337a187c60cdbb
  - kind: symbol
    name: raf_rdf::term
    digest: f6b2182fad237060323acc35d2c4034f92cd213637261f197c97bbb347cacc74
  - kind: symbol
    name: raf_rdf::vocab
    digest: 0026d4964ba3d687594782f98f05a89b1cd7e9d29bd10a8a66c51a017a119ab3
  - kind: symbol
    name: raf_rdf::write
    digest: e5f72039a050bf7ade2e92927d1b486c49e6a8d1506da677ce2a1bb653e46c49
  - kind: symbol
    name: raf_workplan::report
    digest: 4a9616b7f7e0c14987e577c2d9731a6e40eba6b18a5cdd1742268b1065b111dd
verdict: accepted
by: agent
---
