---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:source-index-verification
subject: cap:source-index#verification
inputs:
  - kind: section
    name: cap:source-index#verification
    digest: 4e3946b2356cb16055f50a49ca46ed9fbbcbb3638f911b7d5202996ea24f4731
  - kind: symbol
    name: raf_source::Budget
    digest: 112cd1e623c2c1c3f5b568ff36d5fd8914bcdba242888abc79525048c7445634
  - kind: symbol
    name: raf_source::DiskTree
    digest: 0e3d20e48dd1565506f12b2d49f8c1f14b33d12ca25486e14397d6b1e1302536
  - kind: symbol
    name: raf_source::MemoryTree
    digest: f4dcd98dc81a25c56fe58967638c60ad348a69335229bd8fe860a7d3788080c7
  - kind: symbol
    name: raf_source::Reexport
    digest: abd28a0afe61b96bc07e1cfd6527c962c16bccafbe0ab0f96a7ec6d541893c6c
  - kind: symbol
    name: raf_source::Target
    digest: 60c299f1f3ada9beaef6ffd2d0edee2c50cef240b3e719b1ac73c19b33065c60
  - kind: symbol
    name: raf_source::Workspace
    digest: b169abcad77b6e1bb0b9a2caa259ffaa530c371fdeb50cecf2c5a019466b42b4
  - kind: symbol
    name: raf_source::Workspace::exported_items
    digest: 6d6c67ccd4ffe690cbccae92d1c8bcc8883b0d973853327c06917a60b6851de9
  - kind: symbol
    name: raf_source::Workspace::resolve_in_package
    digest: 55aef4b2934d9e615a22f5c3f08ac679a9ea8d94b79d1e0844d64381a8ad1044
  - kind: symbol
    name: raf_source::Workspace::unresolved_impls
    digest: b935908e0bf18a62f32f8ce6447950753e6452a8c1fd0aeb0cd92ea522b0f7ea
  - kind: symbol
    name: raf_source::parse_source
    digest: 22fd1ef409b6564464dde2df3d2a959170399df0f0f6080e98baad370052438a
verdict: accepted
by: agent
---
