---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:source-index-verification
subject: cap:source-index#verification
inputs:
  - kind: section
    name: cap:source-index#verification
    digest: adefd59fdb75ca173dd8e442f447e4c0ede98a9d1e4c040505c91b49b28579b3
  - kind: symbol
    name: raf_source::Budget
    digest: 5536d88ca71d405441408ba0c4f537853b5fe2f7665d6b9e04f04e3c8d0d1d96
  - kind: symbol
    name: raf_source::DiskTree
    digest: 8de0bd6cf52eb2437cddff8545a4af80ca0f68b9da0a70b705a32f026eeaef63
  - kind: symbol
    name: raf_source::MemoryTree
    digest: f4dcd98dc81a25c56fe58967638c60ad348a69335229bd8fe860a7d3788080c7
  - kind: symbol
    name: raf_source::Reexport
    digest: eefa4b17f47deca46fecdbdaaf325fc81471407cf37f64143beb42ad594b37e2
  - kind: symbol
    name: raf_source::ResolveError
    digest: 1d9ea83846c063f1fbfe5216f71374515cb4b589493f5b68b7a2952c21c5c965
  - kind: symbol
    name: raf_source::Target
    digest: e9ce9b0c72d512e774654a3c3bff6ecca9d9d1b00cd169472582e58693772a6a
  - kind: symbol
    name: raf_source::Workspace
    digest: b4ddc839b70d6a0e24ac21b85f41a03d39217bdcc74b6d3803ac0c5750ed70d5
  - kind: symbol
    name: raf_source::Workspace::exported_items
    digest: 6d6c67ccd4ffe690cbccae92d1c8bcc8883b0d973853327c06917a60b6851de9
  - kind: symbol
    name: raf_source::Workspace::resolve_from
    digest: cc9102734a2b610f64f955fc69e281c400e8fb8931b4060ddd4fad302f684994
  - kind: symbol
    name: raf_source::Workspace::resolve_from_in
    digest: f4dc11c260f97de69fbbdbe21deda17fbe5b497411806f211b852ea7feb431c8
  - kind: symbol
    name: raf_source::Workspace::resolve_in_package
    digest: acf09123cb986a3983613fcc3892611aecabd37dcd3a0e89f1107999e0e6ab5c
  - kind: symbol
    name: raf_source::Workspace::unresolved_impls
    digest: b935908e0bf18a62f32f8ce6447950753e6452a8c1fd0aeb0cd92ea522b0f7ea
  - kind: symbol
    name: raf_source::parse_source
    digest: 22fd1ef409b6564464dde2df3d2a959170399df0f0f6080e98baad370052438a
verdict: accepted
by: agent
---
