---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:source-index-verification
subject: cap:source-index#verification
inputs:
  - kind: section
    name: cap:source-index#verification
    digest: 24e1153c0f3ccd875ce00eaafaca273100088770521ef9520d5f1afccc78feb7
  - kind: symbol
    name: raf_source::Budget
    digest: 112cd1e623c2c1c3f5b568ff36d5fd8914bcdba242888abc79525048c7445634
  - kind: symbol
    name: raf_source::DiskTree
    digest: 0e3d20e48dd1565506f12b2d49f8c1f14b33d12ca25486e14397d6b1e1302536
  - kind: symbol
    name: raf_source::MemoryTree
    digest: f4dcd98dc81a25c56fe58967638c60ad348a69335229bd8fe860a7d3788080c7
  - kind: symbol
    name: raf_source::Reexport
    digest: eefa4b17f47deca46fecdbdaaf325fc81471407cf37f64143beb42ad594b37e2
  - kind: symbol
    name: raf_source::Target
    digest: e9ce9b0c72d512e774654a3c3bff6ecca9d9d1b00cd169472582e58693772a6a
  - kind: symbol
    name: raf_source::Workspace
    digest: b169abcad77b6e1bb0b9a2caa259ffaa530c371fdeb50cecf2c5a019466b42b4
  - kind: symbol
    name: raf_source::Workspace::exported_items
    digest: 6d6c67ccd4ffe690cbccae92d1c8bcc8883b0d973853327c06917a60b6851de9
  - kind: symbol
    name: raf_source::Workspace::resolve_in_package
    digest: 55aef4b2934d9e615a22f5c3f08ac679a9ea8d94b79d1e0844d64381a8ad1044
  - kind: symbol
    name: raf_source::Workspace::unresolved_impls
    digest: b935908e0bf18a62f32f8ce6447950753e6452a8c1fd0aeb0cd92ea522b0f7ea
  - kind: symbol
    name: raf_source::parse_source
    digest: 22fd1ef409b6564464dde2df3d2a959170399df0f0f6080e98baad370052438a
verdict: accepted
by: agent
---
