---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:workplan-evidence-claims-verification
subject: cap:workplan-evidence-claims#verification
inputs:
  - kind: section
    name: cap:workplan-evidence-claims#verification
    digest: 768c41808def3b94bc99361fbe229b5926ab3f0b809c8047c5da22a8ade0efc9
  - kind: symbol
    name: raf_workplan::Workplan::diagram
    digest: 94df0d471aed7e82ad8b144680276c50213154a1e49f8db36a2fb3442ca08c5f
  - kind: symbol
    name: raf_workplan::Workplan::evidence_claims
    digest: a0a36a382dd896fa7bf881875233ddacef8bfeb167fe16ce3902877438282edf
  - kind: symbol
    name: raf_workplan::Workplan::evidence_claims_dataset
    digest: a3739279286e338f056f446c36ac7691b2c07f7a955d0337a9fb910c7b9666e9
  - kind: symbol
    name: raf_workplan::Workplan::evidence_for
    digest: 9d8101cb40654cbe57f6c08d22e3593532157a6534b6da6aeb363549037bae17
  - kind: symbol
    name: raf_workplan::diagram
    digest: 300a0a165b33cfd8feff80b817aaac88050deca22a70b9e58ea27552399e0614
  - kind: symbol
    name: raf_workplan::evidence
    digest: a1ad819bde3fdf4280cfb4ea25fae7ec008b30ef17f744457b8d676716d03165
  - kind: symbol
    name: raf_workplan::evidence::claims_dataset
    digest: 09747dcb55e94233a10361cffc2fe400cb99b283e3cb5e08699f471deca5000f
  - kind: symbol
    name: raf_workplan::record
    digest: e0af591739db479a091b718df1b215a15578d48a56ab73bae3db222026927436
verdict: accepted
by: agent
---
