---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:workplan-rustdoc-includes-verification
subject: cap:workplan-rustdoc-includes#verification
inputs:
  - kind: section
    name: cap:workplan-rustdoc-includes#verification
    digest: a6e1ddd4c13ffc04ad060ddbf7cafd64bf562a4d9762f78a6b209a331f70b865
  - kind: symbol
    name: raf_workplan::diagram::cargo::assembly
    digest: 24796deb0dd99a189f6d04a5c67c847c534341801f601e249b5d8858bf404329
  - kind: symbol
    name: raf_workplan::exec::Invocation::rustdoc_compiler_version
    digest: 50682fcb7665bfbaf3dec1ae9bca03d4788b445b1e5bc5747334a006b2d3a05f
  - kind: symbol
    name: raf_workplan::exec::RustdocObservationOptions::with_assembly
    digest: 9528a64e035b9b86d062e3d29df70b0faf6158ed2920afbd48905ba66ef83665
verdict: accepted
by: agent
---
