---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:workplan-document-model-verification
subject: cap:workplan-document-model#verification
inputs:
  - kind: section
    name: cap:workplan-document-model#verification
    digest: 1dd6afe1bc11bdd8adbbd88049b12cb9812134817b0e2fe313de389a6a15038f
  - kind: symbol
    name: raf_workplan::Gate
    digest: '0ba54e12256b4220c70adc67110fcd518dba1c28972ee89584afd55251a8798d'
  - kind: symbol
    name: raf_workplan::Gate::assert_clean
    digest: 16ca22b64d06956c48d1f8df708840f0d406ee752c06890b5e3dc5d27a8d5517
  - kind: symbol
    name: raf_workplan::Gate::workspace
    digest: c4e7edf4cca27f743ef4bef3142857e176c5d28c933a45cebfff0e976d603947
  - kind: symbol
    name: raf_workplan::Workplan::assessments
    digest: e5eb77cccb7f921607f45eff8ebb535c9e91b4eece39ac2e0c08e7206c62fa28
  - kind: symbol
    name: raf_workplan::Workplan::check
    digest: 0cda2739e1cb428dcf06071147a2d66fbfa9cf06367e81ffbe53adfdd5fffc4f
  - kind: symbol
    name: raf_workplan::Workplan::coverage
    digest: e92bf167dc837d99b7cb04e79c432cb7b58cd2bb7accb4d70f3029b18eb9125f
  - kind: symbol
    name: raf_workplan::Workplan::evidence
    digest: f452ce5b6ae62ae6280784f0f9107a757ba89d44083adaafc8e845eb58005a49
  - kind: symbol
    name: raf_workplan::plain::check
    digest: 15f52c67d09048c4de2975226c14fe2b91d5714379503c89b8254b582179b9af
  - kind: symbol
    name: raf_workplan::record::create
    digest: 69b9ed74ace692daac25bc7bcc112b350d3009a5c0c320b9e3facb88f2ec6558
  - kind: symbol
    name: raf_workplan::record::replace
    digest: 50e143dd4b0efa2e195312afc9f4bb227807c5b898288c45290edb6e176a7398
verdict: accepted
by: agent
---
