---
# SPDX-FileCopyrightText: 2026 Blackcat Informatics® Inc. <paudley@blackcatinformatics.ca>
# SPDX-License-Identifier: CC-BY-4.0
type: Assessment
id: assessment:workplan-cargo-documentation-verification
subject: cap:workplan-cargo-documentation#verification
inputs:
  - kind: section
    name: cap:workplan-cargo-documentation#verification
    digest: 557a56b71eaade197e01f4df610a1ae9a861de05374d3c4981ba362eb0cd9249
  - kind: symbol
    name: cargo_workplan::bin_crate::cargo_workplan::trusted_docs::build
    digest: 9dc288d0142c50d129be470498f3c1b01fdc89f9c93fe3058a9972ab9d9c7996
  - kind: symbol
    name: raf_workplan::diagram::cargo
    digest: '0b9c35fe19671e1bdda2aef6f0900cb0711f72c445cceff8d08a0441f16d4000'
  - kind: symbol
    name: raf_workplan::diagram::cargo::CargoDocOptions
    digest: 67827eb309b94c8adb33a8876a6d376a0f95008674e5fe2dfa64fe2252d7c7bd
verdict: accepted
by: agent
---
